@tailwind base;
@tailwind components;
@tailwind utilities;

.shape1 {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  border: 14px solid white;
}
.shape2 {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.card-shadow{
  box-shadow: 5px 8px 19px -2px rgba(0, 0, 0, 0.44);
}

.card-shadow:hover{
  box-shadow: none;
}

::-webkit-scrollbar{
  display: none;
}